.Floorplan1 { border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid; }
.Floorplan2 { border-color: rgb(71, 71, 71); border-width: 1px; border-style: solid; }
.Floorplan3 { border-color: rgb(107, 107, 107); border-width: 1px; border-style: solid; }
.Floorplan4 { border-color: rgb(140, 140, 140); border-width: 1px; border-style: solid; }
.Floorplan5 { border-color: rgb(165, 165, 165); border-width: 1px; border-style: solid; }
.Floorplan6 { border-color: rgb(184, 184, 184); border-width: 1px; border-style: solid; }
.Floorplan7 { border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid; }
.Floorplan8 { border-color: rgb(71, 71, 71); border-width: 1px; border-style: solid; }
.Floorplan9 { border-color: rgb(107, 107, 107); border-width: 1px; border-style: solid; }
.Floorplan10 { border-color: rgb(140, 140, 140); border-width: 1px; border-style: solid; }
.Floorplan11 { border-color: rgb(165, 165, 165); border-width: 1px; border-style: solid; }
.Floorplan12 { border-color: rgb(184, 184, 184); border-width: 6px; border-style: solid; }
.Floorplan13 { border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid; }
.Floorplan14 { border-color: rgb(71, 71, 71); border-width: 1px; border-style: solid; }
.Floorplan15 { border-color: rgb(107, 107, 107); border-width: 1px; border-style: solid; }
.Floorplan16 { border-color: rgb(140, 140, 140); border-width: 1px; border-style: solid; }
.Floorplan17 { border-color: rgb(165, 165, 165); border-width: 1px; border-style: solid; }
.Floorplan18 { border-color: rgb(184, 184, 184); border-width: 1px; border-style: solid; }
.Floorplan19 { border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid; }
.Floorplan20 { border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid; }
.Floorplan21 { border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid; }
.Floorplan22 { border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid; }
.Floorplan23 { border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid; }
.Floorplan24 { border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid; }
.TextBlock { border-width: 0px; border-style: solid; width: 42px; height: 32px; }
.themeColor0 { background-color: rgb(204, 204, 204); }
.themeColor1 { background-color: rgb(180, 180, 180); }
.themeColor2 { background-color: rgb(131, 131, 131); }
.themeColor3 { background-color: rgb(98, 98, 98); }
.themeColor4 { background-color: rgb(65, 65, 65); }
.themeColor5 { background-color: rgb(248, 236, 160); }
.themeColor6 { background-color: rgb(244, 226, 115); }
.themeColor7 { background-color: rgb(238, 207, 25); }
.themeColor8 { background-color: rgb(183, 159, 14); }
.themeColor9 { background-color: rgb(121, 105, 9); }
.themeColor10 { background-color: rgb(255, 207, 153); }
.themeColor11 { background-color: rgb(255, 184, 105); }
.themeColor12 { background-color: rgb(255, 137, 8); }
.themeColor13 { background-color: rgb(197, 103, 0); }
.themeColor14 { background-color: rgb(131, 69, 0); }
.themeColor15 { background-color: rgb(238, 170, 170); }
.themeColor16 { background-color: rgb(230, 130, 130); }
.themeColor17 { background-color: rgb(214, 49, 50); }
.themeColor18 { background-color: rgb(164, 33, 34); }
.themeColor19 { background-color: rgb(109, 22, 22); }
.themeColor20 { background-color: rgb(219, 170, 238); }
.themeColor21 { background-color: rgb(203, 130, 230); }
.themeColor22 { background-color: rgb(168, 49, 214); }
.themeColor23 { background-color: rgb(128, 33, 164); }
.themeColor24 { background-color: rgb(85, 22, 109); }
.themeColor25 { background-color: rgb(170, 202, 238); }
.themeColor26 { background-color: rgb(130, 177, 230); }
.themeColor27 { background-color: rgb(49, 127, 214); }
.themeColor28 { background-color: rgb(33, 95, 164); }
.themeColor29 { background-color: rgb(22, 63, 109); }
.themeColor30 { background-color: rgb(170, 230, 238); }
.themeColor31 { background-color: rgb(130, 218, 230); }
.themeColor32 { background-color: rgb(49, 195, 214); }
.themeColor33 { background-color: rgb(33, 149, 164); }
.themeColor34 { background-color: rgb(22, 99, 109); }
.themeColor35 { background-color: rgb(223, 238, 170); }
.themeColor36 { background-color: rgb(207, 230, 130); }
.themeColor37 { background-color: rgb(178, 214, 49); }
.themeColor38 { background-color: rgb(135, 164, 33); }
.themeColor39 { background-color: rgb(90, 109, 22); }
